@model IEnumerable<silver_octo.Models.BudgetItem>
@{
    ViewBag.Title = "Budget Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table id="budgetItems" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Budget Item</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@using (Html.BeginForm("New", "BudgetItems"))
{
    <button type="submit" class="btn btn-primary">New Item</button>
}
@section Scripts
{
    <script>
$(document).ready(function () {

        var table = $("#budgetItems").DataTable({
        ajax:
            {
            url: "/api/BudgetItems",
                    dataSrc: ""
                },
                columns: [
                    {
            data: "categoryName",
                        render: function(data, type, budgetItem) {
                    return "<a href='/BudgetItems/Edit/" + budgetItem['id'] + "'>" + data + "</a>";
                }
            },
                    {
            data: "amount"
                    },
                    {
            data: "description"
                    },
                    {
            data: "id",
                        render: function(data) {
                    return "<button class='btn-link js-delete' data-budgetItem-id=" + data + ">Delete</button>";
                }
            }
                ]

            });

            $("#budgetItems").on("click", ".js-delete", function() {
            var button = $(this);

            bootbox.confirm("Are you sure you want to delete this budget category?", function(result) {
                if (result)
                {
                        $.ajax({
                    url: "/api/BudgetItems/" + button.attr("data-budgetItem-id"),
                            method: "DELETE",
                            success: function() {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
    });</script>
}