@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Silver-Octo</h1>
    <h3 class="display-5">A fully customizable budgeting tool!</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="col-md-4">
    <dl>
        <dt>Register a user and login</dt>
        <dd>
            Click @Html.ActionLink("Register", "Register", "Account") and see the code in AccountController.cs and Register Action.
            Click @Html.ActionLink("Log in", "Login", "Account") and see the code in AccountController.cs and Login Action.
        </dd>
    </dl>
</div>
